.block-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 0;
  border-top: 1px solid #666;

  .btn {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;

    &:first-of-type {
      margin-right: 1rem;
    }

    &:hover {
      background-color: #5cbf2a;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }

  a {
    color: #41addd;

    &:hover {
      color: #6cc0e5;
    }
  }
}
